.product-count {
  width: 13px;
  height: 13px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  bottom: 20px;
  left: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  padding: 4px;
  font-size: 13px;
}
