.product-photo {
  width: 100px;
  height: 130px;
  margin: 6px;
}
.each-cart-item {
  display: flex;
  height: 148px;
  align-items: center;
}
.product-details {
  margin: 10px;
  width: 400px;
}
.title-color {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.detailstyle {
  color: lightslategray;
}
.delete-icon {
  width: 13px;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.delete-with-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: yellow;
}
.price {
  content: "";
  margin-top: 40px;
  font-size: 20px;
}
.striker {
  text-decoration: line-through;
  opacity: 0.5;
}
