.shopping-background {
  display: flex;
  margin-top: 60px;
  position: absolute;
}
.cart-clicker {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  cursor: pointer;
}
.cartimage {
  width: 40px;
  height: 40px;
}
.container {
}
.black {
  width: 400px;
  height: 100%;
}
.cart {
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.cart-page {
  width: 0px;
  height: 100%;
  background-color: black;
  overflow: hidden;
  -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}
.opener {
  width: 600px;
}
.cart-product-count {
  width: 13px;
  height: 13px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  right: 10px;
  top: 16px;
  background-color: orangered;
}
.disabler {
  display: none;
}
